@use "./variables";
.form {
  display: flex;
  flex-direction: column;
  //   min-height: 100svh;
  background-color: variables.$magnolia;

  &-content {
    position: relative;
    top: -4.5rem;
    margin-inline: 1.5rem;
    // margin-bottom: 2rem;
  }

  &-buttons {
    position: relative;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

.form-steps {
  height: 9.5rem;
  padding-top: 3rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 1.7rem;

  background-image: url("/bg-sidebar-mobile.svg");
  background-repeat: no-repeat;
  background-size: cover;

  .form-step {
    &__num {
      width: 2rem;
      height: 2rem;
      display: grid;
      place-content: center;
      color: variables.$alabaster;
      border: 1.5px solid variables.$alabaster;
      border-radius: 50%;

      font-size: 0.9rem;
      font-weight: bold;

      &--active {
        background-color: variables.$light-blue;
        border-color: variables.$light-blue;
        color: variables.$marine-blue;
      }
    }
    &__title,
    &__desc {
      display: none;
    }
  }
}

.form-content {
  padding: 1rem 1.5rem 2.5em;
  border-radius: 0.7rem;
  background-color: variables.$alabaster;
  // box-shadow: 0px 8px 90px -12px hsl(231, 11%, 63%);
  box-shadow: 0px 20px 88px -35px hsl(231, 11%, 63%);
}

.form-buttons {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  background-color: variables.$white;

  &__btn {
    padding: 1rem;
    background-color: transparent;
    color: variables.$cool-gray;
    border-radius: 0.3rem;
    text-transform: capitalize;
    font-size: 0.91rem;
    font-weight: 500;
    cursor: pointer;

    &--invisible {
      visibility: hidden;
    }
    &--next {
      color: variables.$alabaster;
      background-color: variables.$marine-blue;
    }
    &--confirm {
      color: variables.$alabaster;
      background-color: variables.$purplish-blue;
    }
  }
}

.form-header {
  &__title {
    color: variables.$marine-blue;
    font-size: 1.6rem;
    font-weight: 700;
  }
  &__desc {
    margin-top: -0.5rem;
    color: variables.$cool-gray;
    font-size: 1rem;
    line-height: 1.5rem;
  }
}

// ------------------------------ form steps -------------------------
// step one ---------------------
.form-step-one {
  // border: 2px solid red;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.form-input {
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 0.4rem;
  font-size: 0.9rem;

  & input {
    padding: 0.7rem;
    border-radius: 0.3rem;
    border: 1px solid variables.$cool-gray;
    // border: 1px solid variables.$marine-blue;
    font-size: 1rem;
  }
  &--error {
    & input {
      border-color: variables.$strawberry-red;
      outline-color: variables.$strawberry-red;
    }
  }
  &--error &__error {
    visibility: visible;
  }
  &__error {
    position: absolute;
    right: 0;
    color: variables.$strawberry-red;
    // outline: 2px solid red;
    visibility: hidden;
    // display: inline;
  }
}

// step two ---------------------
.form-step-two {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
.form-plan {
  display: flex;
  gap: 1rem;
  padding: 1rem;
  border: 1px solid variables.$light-gray;
  border-radius: 0.5rem;

  &__img {
    width: 3rem;
  }
  &__content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0.5rem;

    & input {
      position: absolute;
      // visibility: hidden;
      // z-index: -10;
      left: -100%;
    }
  }
  &__title {
    color: variables.$marine-blue;
    margin: 0;
  }
  &__cost {
    margin: 0;
    color: variables.$cool-gray;
    font-size: 0.85rem;
    font-weight: 500;
  }
  &__free-months {
    margin: 0;
    color: variables.$marine-blue;
    font-size: 0.8rem;
  }

  &__error {
    text-align: center;
    margin: 0.5rem 0;
    opacity: 0;
    position: absolute;
    &--active {
      position: relative;
      opacity: 1;
      color: variables.$strawberry-red;
    }
  }

  &--active {
    background-color: variables.$magnolia;
    border-color: variables.$marine-blue;
  }
  &:hover {
    background-color: variables.$magnolia;
  }
}
.period-change {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  background-color: variables.$magnolia;
  border-radius: 0.5rem;

  &__btn {
    background-color: transparent;
    color: variables.$cool-gray;
    font-weight: 700;
    cursor: pointer;
    &--active {
      color: variables.$marine-blue;
    }
  }
  &__switch {
    width: 2rem;
    display: flex;
    align-items: center;
    padding: 0.25rem 0.3rem;
    background-color: variables.$marine-blue;
    border-radius: 1rem;
    position: relative;
  }
  &__core {
    width: 0.8rem;
    height: 0.8rem;
    border-radius: 50%;
    background-color: variables.$alabaster;
    position: relative;
    transition: transform 300ms ease-in-out;

    &--left {
      transform: translateX(0%);
    }
    &--right {
      transform: translateX(155%);
    }
  }
}


//step three -------------------

.form-step-three{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.form-addon{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  position: relative;
  padding: .8rem;  
  border: 1px solid variables.$light-gray;
  border-radius: .5rem;
  &__check{
    width: .9rem;
    height: .9rem;
    padding: .2rem;
    border: 1px solid variables.$light-gray;
    border-radius: .3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    & img{
      width: 100%;
      object-fit: contain;
    }

    &--active{
      background-color: variables.$purplish-blue;
    }
  }

  &__content-wrapper{
    flex: 1;
  }
  &__title{
    margin: 0;
    color: variables.$marine-blue;
  }
  &__desc{
    margin: .5rem 0;
    color: variables.$cool-gray;
    font-size: 0.85rem;
    font-weight: 500;
  }

  &__cost{
    color: variables.$purplish-blue;
    font-size: .85rem;
    font-weight: 500;
  }

  & input{
    // visibility: hidden;
    position: absolute;
    left: -100%;
  }

  &--active{
    border-color: variables.$marine-blue;
    background-color: variables.$magnolia;
  }
  &:hover{
    background-color: variables.$magnolia;

  }
}
